{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>MahaSIG</title>
    <link rel="icon" href="{% static 'images/logo.gif' %}" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
{% block content %}
{% endblock %}
<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="">
						<div class="">
							<div class="logo">
								<a href="{% url 'post:post' %}" title=""><img src="{% static 'images/logo_1.gif' %}" alt=""></a>
							</div>
							<p>
								MahaSIG is the portal where Student, Industries and Government engaged for interaction, self-employment and job opportunities.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer><!-- footer -->
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright"><a target="" href="">Simple Web Portal designed and developed by Aniket and Team</a></span>
				</div>
			</div>
		</div>
	</div>
</div>
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/map-init.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>

</html>