<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Stats</h4>
										<div class="your-page">
											<figure>
												<a href="{% url 'friend-profile' profile_user.id %}" title=""><img src="{{ profile_user.get_profile_img }}" alt=""></a>
											</figure>
											<div class="page-meta">
												<a href="{% url 'friend-profile' profile_user.id %}" title="" class="underline">My Profile</a>
{#												<span><i class="ti-comment"></i><a href="insight.html" title="">My Post <em>9</em></a></span>#}
{#												<span><i class="ti-bell"></i><a href="insight.html" title="">Friends <em>2</em></a></span>#}
											</div>

										</div>
									</div><!-- page like widget -->

								</aside>
							</div><!-- sidebar -->