{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="{% url 'post:post' %}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="{% static 'images/logo_1.gif' %}">
              </span>
              <span class="demo fw-bolder ms-2" style="font-size: 1.75rem;
    letter-spacing: -0.5px;">Analytics</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item" id="dashboard_list">
              <a href="{% url 'analytics:home' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>


            <li class="menu-item" id="approve_user_list">
              <a href="{% url 'analytics:student-list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-check"></i>
                <div data-i18n="Analytics">Approved User List</div>
              </a>
            </li>

              <li class="menu-item" id="unapprove_user_list">
              <a href="{% url 'analytics:inactive-student-list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-x"></i>
                <div data-i18n="Analytics">Inactive User List</div>
              </a>
            </li>


              <li class="menu-item" id="approve_college_list">
              <a href="{% url 'analytics:college-list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-check"></i>
                <div data-i18n="Analytics">Approved College List</div>
              </a>
            </li>

              <li class="menu-item" id="unapprove_college_list">
              <a href="{% url 'analytics:inactive-college-list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-x"></i>
                <div data-i18n="Analytics">Inactive College List</div>
              </a>
            </li>

              <li class="menu-item" id="approve_industry_list">
              <a href="{% url 'analytics:industry-list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-check"></i>
                <div data-i18n="Analytics">Approved Industry List</div>
              </a>
            </li>

              <li class="menu-item" id="unapprove_industry_list">
              <a href="{% url 'analytics:inactive-industry-list' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user-x"></i>
                <div data-i18n="Analytics">Inactive Industry List</div>
              </a>
            </li>

{#            <li class="menu-item" id="admin_info_list">#}
{#              <a href="{% url 'college:info' 1 %}" class="menu-link">#}
{#                <i class="menu-icon tf-icons bx bxs-school"></i>#}
{#                <div data-i18n="Analytics">Admin Info</div>#}
{#              </a>#}
{#            </li>#}
          </ul>
        </aside>
<script>
    $('#{{ menu }}').addClass('active');
</script>