{% extends 'post/base.html' %}

{% load static %}

{% block content %}
<div class="theme-layout">

	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="{% static 'images/logo.gif' %}" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>


	</div><!-- responsive header -->

	{% include 'users/topbar_stick.html' %}

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
                                    {% include 'users/edit-menu.html' %}
								</aside>
							</div><!-- sidebar -->

							<div class="col-lg-6">
                            {% if messages %}
                                {% for item in messages %}
                                {% if item.tags == 'error' %}
                                    <div class="alert alert-danger" role="alert">
                                    {% else %}
                                    <div class="alert alert-{{ item.tags }}" role="alert">
                                        {% endif %}
                                        {{ item }}
                                    </div>
                                {% endfor %}
                            {% endif %}
								<div class="central-meta">
									<div class="editing-info">
                                    {% if request.user.is_college_user_profile %}
										<h5 class="f-title"><i class="ti-info-alt"></i> Edit Basic College Information</h5>
                                        <form method="post" action="{% url 'college-basic-info' request.user.get_college_obj.id  %}">
                                            {% csrf_token %}
											<div class="form-group">
											  <input type="text" id="input" name="name" {% if request.user.get_college_obj.name %} value="{{ request.user.get_college_obj.name }}" {% endif %} required="required"/>
											  <label class="control-label" for="input">College Name</label><i class="mtrl-select"></i>
                                                {% if form.errors.name %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.name }}
                                                </div>
                                                {% endif %}
											</div>

											<div class="form-group">
											  <input type="text" required="required" name="email" {% if user.email %} value="{{ user.email }}" {% endif %}/>
											  <label class="control-label" for="input"><a class="__cf_email__" data-cfemail="4b0e262a22270b">[email&#160;protected] readonly can't be change</a></label><i class="mtrl-select"></i>
											{% if user_instance_error.errors.email %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_instance_error.errors.email }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="form-group">
											  <input type="text" required="required" name="phone_number" {% if request.user.get_college_obj.phone_number %} value="{{ request.user.get_college_obj.phone_number }}" {% endif %}/>
											  <label class="control-label" for="input">Phone No.</label><i class="mtrl-select"></i>
											    {% if form.errors.phone_number %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.phone_number }}
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="form-group">
											  <input type="text" id="dob_id" required="required" name="website" {% if request.user.get_college_obj.website %}value="{{ request.user.get_college_obj.website }} {% endif %}"/>
											  <label class="control-label" for="input">Website</label><i class="mtrl-select"></i>
											    {% if form.errors.website %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.website }}
                                                </div>
                                                {% endif %}
                                            <script>

                                            </script>
                                            </div>


											<div class="form-group">
											  <textarea rows="4" id="textarea"  required="required" name="about_us" placeholder="The institute now is an autonomous engineering school with permanent affiliation to the University of Pune...............">{% if request.user.is_college_user_profile %}{{ request.user.get_college_obj.about_us }}{% endif %}</textarea>
											  <label class="" for="textarea">About Us</label><i class="mtrl-select"></i>
											    {% if form.errors.about_us %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.about_us }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="submit-btns">
												<button type="button" class="mtr-btn"><span>Cancel</span></button>
												<button type="submit" class="mtr-btn"><span>Update</span></button>
											</div>
										</form>
									{% elif request.user.is_industry_user_profile %}
										<h5 class="f-title"><i class="ti-info-alt"></i> Edit Basic Industry Information</h5>
                                        <form method="post" action="{% url 'industry-basic-info' request.user.get_industry_obj.id %}">
                                            {% csrf_token %}
											<div class="form-group half">
											  <input type="text" id="input" name="name" {% if user.get_company_name %} value="{{ user.get_company_name }}" {% endif %} required="required"/>
											  <label class="control-label" for="input">Company Name</label><i class="mtrl-select"></i>
                                                {% if form.errors.name %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{form.errors.name }}
                                                </div>
                                                {% endif %}
											</div>
											<div class="form-group half">
											  <input type="text" required="required" name="industry" {% if user.get_industry_obj.industry %} value="{{ user.get_industry_obj.industry }}" {% endif %}/>
											  <label class="control-label" for="input">Industry Type</label><i class="mtrl-select"></i>
                                                {% if form.errors.industry %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.industry }}
                                                </div>
                                                {% endif %}
											</div>
											<div class="form-group">
											  <input type="text" required="required" name="company_size" {% if user.get_industry_obj.company_size %} value="{{  user.get_industry_obj.company_size }}" {% endif %}/>
											  <label class="control-label" for="input">Company Size</label><i class="mtrl-select"></i>
											{% if form.errors.company_size %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.company_size }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="form-group">
											  <input type="text" required="required" name="headquarters" {% if user.get_industry_obj.headquarters %} value="{{ user.get_industry_obj.headquarters }}" {% endif %}/>
											  <label class="control-label" for="input">Headquarters</label><i class="mtrl-select"></i>
											    {% if form.errors.headquarters %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.headquarters }}
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="form-group">
											  <input type="text" id="dob_id" required="required" name="specialities" {% if user.get_industry_obj.specialities %} value="{{ user.get_industry_obj.specialities }}" {% endif %}/>
											  <label class="control-label" for="input">Specialities</label><i class="mtrl-select"></i>
											    {% if form.errors.specialities  %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.specialities }}
                                                </div>
                                                {% endif %}

                                            </div>

											<div class="form-group">
											  <input type="text" required="required" name="website" {% if user.get_industry_obj.website %} value="{{ user.get_industry_obj.website }}" {% endif %} />
											  <label class="control-label" for="input">Website</label><i class="mtrl-select"></i>
											{% if form.errors.website %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.website }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="form-group">
											  <textarea rows="4" id="textarea"  required="required" name="about_us" placeholder="Passionate Software engineer with keen interest in ...................">{% if user.get_industry_obj.about_us %}{{ user.get_industry_obj.about_us }}{% endif %}</textarea>
											  <label class="" for="textarea">About Me</label><i class="mtrl-select"></i>
											    {% if form.errors.about_us %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.errors.about_us }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="submit-btns">
												<button type="button" class="mtr-btn"><span>Cancel</span></button>
												<button type="submit" class="mtr-btn"><span>Update</span></button>
											</div>
										</form>
									{% else %}
										<h5 class="f-title"><i class="ti-info-alt"></i> Edit Basic Information</h5>
                                        <form method="post" action="{% url 'user-basic-info' %}">
                                            {% csrf_token %}
											<div class="form-group half">
											  <input type="text" id="input" name="first_name" value="{{ user.first_name }}" required="required"/>
											  <label class="control-label" for="input">First Name</label><i class="mtrl-select"></i>
                                                {% if user_instance_error.errors.first_name %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_instance_error.errors.first_number }}
                                                </div>
                                                {% endif %}
											</div>
											<div class="form-group half">
											  <input type="text" required="required" name="last_name" value="{{ user.last_name }}" />
											  <label class="control-label" for="input">Last Name</label><i class="mtrl-select"></i>
                                                {% if user_instance_error.errors.first_name %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_instance_error.errors.first_name }}
                                                </div>
                                                {% endif %}
											</div>
											<div class="form-group">
											  <input type="text" required="required" name="email" value="{{ user.email }}"/>
											  <label class="control-label" for="input"><a class="__cf_email__" data-cfemail="4b0e262a22270b">[email&#160;protected] readonly can't be change</a></label><i class="mtrl-select"></i>
											{% if user_instance_error.errors.email %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_instance_error.errors.email }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="form-group">
											  <input type="text" required="required" name="phone_number" value="{{ user.phone_number }}"/>
											  <label class="control-label" for="input">Phone No.</label><i class="mtrl-select"></i>
											    {% if user_instance_error.errors.phone_number %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_instance_error.errors.phone_number }}
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="form-group">
											  <input type="date" id="dob_id" required="required" name="dob" />
											  <label class="control-label" for="input">Date of Birth.</label><i class="mtrl-select"></i>
											    {% if user_basic_error.errors.dob %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_basic_error.errors.dob }}
                                                </div>
                                                {% endif %}
                                            <script>
                                                {% if basic_info and basic_info.dob %}
                                                    let day = "{{ basic_info.dob.day }}";
                                                    let month = "{{ basic_info.dob.month }}";
                                                    let year = "{{ basic_info.dob.year }}";
                                                    let dob = new Date(year, month, day);

                                                    if(day.length <= 1)
                                                        day = ("0" + dob.getDate()).slice(-2);
                                                    if(month.length <= 1)
                                                        month = ("0" + (dob.getMonth() + 1)).slice(-2);

                                                    var today = dob.getFullYear()+"-"+(month)+"-"+(day) ;
                                                    $('#dob_id').val(today);

                                                {% endif %}
                                            </script>
                                            </div>

											<div class="form-group">
											  <input type="text" required="required" name="city" {% if basic_info and basic_info.city %}value="{{ basic_info.city }}"{% endif %} />
											  <label class="control-label" for="input">City</label><i class="mtrl-select"></i>
											{% if user_basic_error.errors.city %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_basic_error.errors.city }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="form-group">
											  <select id="country_id" name="country">

												</option>
												  <option value="VAT">Holy See (Vatican City State)</option>
												  <option value="Honduras">Honduras</option>
												  <option value="Hong Kong">Hong Kong</option>
												  <option value="Hungary">Hungary</option>
												  <option value="Iceland">Iceland</option>
												  <option value="India" selected>India</option>
												  <option value="Indonesia">Indonesia</option>

												  <option value="Ukraine">Ukraine</option>
												  <option value="United Arab Emirates">United Arab Emirates</option>

											  </select>
                                            <script>
                                                {% if basic_info %}
                                                    {% if not basic_info.country %}
                                                    $('#country_id').val("India");
                                                        {% else %}
                                                    $('#country_id').val("{{ basic_info.country }}");
                                                        {% endif %}

                                                {% endif %}
                                            </script>
                                                {% if user_basic_error.errors.country %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_basic_error.errors.country }}
                                                </div>
                                                {% endif %}
											</div>
											<div class="form-group">
											  <textarea rows="4" id="textarea"  required="required" name="about_me" placeholder="Passionate Software engineer with keen interest in ...................">{% if basic_info and basic_info.about_me %}{{ basic_info.about_me }}{% endif %}</textarea>
											  <label class="" for="textarea">About Me</label><i class="mtrl-select"></i>
											    {% if user_basic_error.errors.about_me %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ user_basic_error.errors.about_me }}
                                                </div>
                                                {% endif %}
                                            </div>
											<div class="submit-btns">
												<button type="button" class="mtr-btn"><span>Cancel</span></button>
												<button type="submit" class="mtr-btn"><span>Update</span></button>
											</div>
										</form>
                                    {% endif %}




                                    </div>
								</div>
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
								</aside>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
    $(document).ready(function(){
       $('#about_panel').addClass('active');
    });
</script>
{% endblock %}