<div class="widget">
										<h4 class="widget-title">Edit info</h4>
										<ul class="naves">
										<li>
											<i class="ti-info-alt"></i>
											<a title="" href="{% url 'user-basic-info' %}">Basic info</a>
										</li>
                                            {% if not request.user.is_college_user_profile and request.user.is_industry_user_profile and request.user.is_superuser %}
										<li>
											<i class="ti-mouse-alt"></i>
											<a title="" href="{% url 'user-education' %}">Education &amp; Work</a>
										</li>
										<li>
											<i class="ti-heart"></i>
											<a title="" href="{% url 'user-interest' %}">My interests</a>
										</li>
                                            {% endif %}
										<li>
											<i class="ti-lock"></i>
											<a title="" href="edit-password.html">change password</a>
										</li>
										</ul>
</div>