{% extends 'post/base.html' %}

{% load static %}

{% block content %}
<div class="theme-layout">

	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>

	</div><!-- responsive header -->

    {% include 'users/topbar_stick.html' %}



	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">

							</div><!-- sidebar -->
							<div class="col-lg-6">
                            {% if profile_user != request.user and profile_user not in request.user.get_user_connected_users %}
                            <div class="alert alert-info pb-3" role="alert">
                            Want to know more about {{ profile_user.get_full_name }} ? Send Friend Request Now
                                				<button class="btn btn-primary btn-sm float-right mb-2" href="{% url 'send-request' %}?id={{ profile_user.id}}">Add Friend</button>
                            </div>
                            {% endif %}
								<div class="central-meta">
									<div class="about">
										<div class="personal">
                                            {% if profile_useruser_type == "student" %}
											<h5 class="f-title"><i class="ti-info-alt"></i> Personal Info</h5>
                                            {% elif profile_user.user_type == "college" %}
											<h5 class="f-title"><i class="ti-info-alt"></i> College Info</h5>
                                            {% elif profile_user.user_type == "industry" %}
											<h5 class="f-title"><i class="ti-info-alt"></i> Industry Info</h5>
                                            {% else %}
                                                <h5 class="f-title"><i class="ti-info-alt"></i> Personal Info</h5>
                                            {% endif %}
											<p>
												{{ profile_user.get_user_about_me }}
											</p>
										</div>
										<div class="d-flex flex-row mt-2">
											<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" >
												<li class="nav-item">
													<a href="#basic" class="nav-link active" data-toggle="tab" >Basic info</a>
												</li>
                                        {% if request.user.user_type == "student" %}
												<li class="nav-item">
													<a href="#work" class="nav-link" data-toggle="tab" >work and education</a>
												</li>
												<li class="nav-item">
													<a href="#interest" class="nav-link" data-toggle="tab"  >interests</a>
												</li>
                                        {% endif %}
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade show active" id="basic" >
													<ul class="basics">
														<li><i class="ti-user"></i>{{ profile_user.get_full_name }}</li>
														<li><i class="ti-map-alt"></i>live in <strong>{{ profile_user.get_user_city }}</strong></li>
														<li><i class="ti-mobile"></i><a href="" class="__cf_phone__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">{% if profile_user in request.user.get_user_connected_users %}{{ profile_user.phone_number }}{% else %}[Phone Number&#160;protected]{% endif %}</a></li>
														<li><i class="ti-email"></i><a href="" class="__cf_email__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">{% if profile_user in request.user.get_user_connected_users %}{{ profile_user.email }}{% else %}[email&#160;protected]{% endif %}</a></li>
														<li><i class="ti-time"></i><a href="" class="__cf_dob__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">{{ profile_user.get_website }}</a></li>
													</ul>
												</div>

												<div class="tab-pane fade" id="work" role="tabpanel">
													<div>

														<a href="#" title="">{{ profile_user.get_college_name }}</a>
														<p>{{ profile_user.get_college_current_status }}</p>
                                                    <ul class="basics">
														<li><i class="ti-time"></i>{{ profile_user.get_college_year }}</li>
														<li><i class="ti-map-alt"></i>Student of <strong>{{ profile_user.get_college_branch }}</strong></li>
{#														<li><i class="ti-mobile"></i><a href="" class="__cf_phone__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">{% if profile_user in user.get_user_connected_users %}{{ profile_user.phone_number }}{% else %}[Phone Number&#160;protected]{% endif %}</a></li>#}
{#														<li><i class="ti-email"></i><a href="" class="__cf_email__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">{% if profile_user in user.get_user_connected_users %}{{ profile_user.email }}{% else %}[email&#160;protected]{% endif %}</a></li>#}
{#														<li><i class="ti-time"></i><a href="" class="__cf_dob__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">{% if profile_user in user.get_user_connected_users %}{{ profile_user.get_user_dob }}{% else %}[Date of birth&#160;protected]{% endif %}</a></li>#}
													</ul>
													</div>
												</div>
												<div class="tab-pane fade" id="interest" role="tabpanel">
													<ul class="basics">
														{% for item in profile_user.get_user_interest %}
														    <li><a class="__cf_dob__" data-cfemail="3c4553494e515d55507c59515d5550125f5351">{% if profile_user in request.user.get_user_connected_users %}{{ item.name }}{% else %}[&#160;protected]{% endif %}</a></li>

{#                                                            <li>{{ item.name }}</li>#}
                                                        {% endfor %}
													</ul>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
											<h4 class="widget-title">User Info</h4>
											<div class="your-page">
												<figure>
													<a title="" href="#"><img alt="" src="{{ profile_user.get_profile_img }}"></a>
												</figure>
												<div class="page-meta">
													<a class="underline" title="" href="#">My page</a>
													<span><i class="ti-comment"></i>Friends <em>{{ profile_user.get_user_connected_users_count }}</em></span>
													<span><i class="ti-bell"></i>Groups <em>{{ profile_user.get_user_groups_count }}</em></span>
												</div>
											</div>
										</div>
								</aside>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
    $(document).ready(function(){
       $('#about_panel').addClass('active');
    });
</script>
{% endblock %}