{% extends 'post/base.html' %}

{% load static %}

{% block content %}
<div class="theme-layout">

	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>

	</div><!-- responsive header -->


    {% include 'users/topbar_stick.html' %}

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">

								<aside class="sidebar static">
                                    {% include 'users/shortcuts.html' %}

								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">

                            {% if messages %}
                            {% for item in messages %}
                                {% if item.tags == "error" %}
                            <div class="alert alert-danger" role="alert">
                            {% else %}
                          <div class="alert alert-{{ item.tags }}" role="alert">
                                {% endif %}
                                {{ item }}
                            </div>
                            {% endfor %}
                            {% endif %}

								<div class="central-meta">
									<div class="frnds">
										<ul class="nav nav-tabs">
											 <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">My Friends</a> <span>{{ user.get_user_connected_users_count }}</span></li>
											{% if profile_user == request.user %}
                                            <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Accept Friend Requests</a><span>{{ user.get_user_received_users_count }}</span></li>
											 <li class="nav-item"><a class="" href="#frends-pending" data-toggle="tab">Pending Requests</a><span>{{ user.get_user_requested_users_count }}</span></li>
										    {% endif %}
                                        </ul>

										<!-- Tab panes -->
										<div class="tab-content">
										  <div class="tab-pane active fade show " id="frends" >
											<ul class="nearby-contct">
                                                {% if not connected_users %}

                                                    <span>Create new friends now!</span>
                                                {% endif %}
                                                {% for item in connected_users %}
											<li>
												<div class="nearly-pepls">
													<figure>
														<a href="{% url 'friend-profile' item.id %}" title=""><img src="{{ item.get_profile_img }}" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="{% url 'friend-profile' item.id %}" title="">{{ item.get_full_name }}</a></h4>
														<span>{{ item.username }}</span>
                                                        {% if profile_user == request.user %}
														<a href="{% url 'unfriend-user' item.id %}" title="" class="add-butn more-action" data-ripple="">unfriend</a>
														{% elif item not in request.user.get_user_connected_users and item != request.user %}
                                                        <a href="{% url 'send-request' %}?id={{ item.id }}" title="" class="add-butn" data-ripple="">Send Request</a>
                                                        {% endif %}
													</div>
												</div>
											</li>
                                                {% endfor %}
										</ul>
											<div class="lodmore"><button class="btn-view btn-load-more"></button></div>
										  </div>
                                    {% if profile_user == request.user %}
										  <div class="tab-pane fade" id="frends-req" >
											<ul class="nearby-contct">
                                            {% if not received_users %}

                                                <span>You don't have any new friend request</span>
                                            {% endif %}
											{% for item in received_users %}
                                                <li>
												<div class="nearly-pepls">
													<figure>
														<a href="time-line.html" title=""><img src="{{ item.get_profile_img }}" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="time-line.html" title="">{{ item.get_full_name }}</a></h4>
														<span>{{ item.username }}</span>
														<a href="" title="" class="add-butn more-action" data-ripple="">delete Request</a>
														<a href="{% url 'accept-user' %}?id={{ item.id }}" title="" class="add-butn" data-ripple="">Confirm</a>
													</div>
												</div>
											</li>
                                            {% endfor %}

										</ul>
											  <button class="btn-view btn-load-more"></button>
										  </div>

                                        <div class="tab-pane fade" id="frends-pending" >
											<ul class="nearby-contct">
                                            {% if not requested_users %}

                                                <span>No pending request</span>
                                            {% endif %}
											{% for item in requested_users %}
                                                <li>
												<div class="nearly-pepls">
													<figure>
														<a href="time-line.html" title=""><img src="{{ item.get_profile_img }}" alt=""></a>
													</figure>
													<div class="pepl-info">
														<h4><a href="time-line.html" title="">{{ item.get_full_name }}</a></h4>
														<span>{{ item.username }}</span>
														<a href="#" disabled="true" title="" class="add-butn" data-ripple="">Pending</a>
													</div>
												</div>
											</li>
                                            {% endfor %}

										</ul>
											  <button class="btn-view btn-load-more"></button>
										  </div>
									{% endif %}	</div>

									</div>

								</div>
							</div><!-- centerl meta -->
							{% include 'users/profile_intro.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
    $(document).ready(function(){
       $('#friend_panel').addClass('active');
    });
</script>
{% endblock %}